<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/bien.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Inscription utilisateur</h3>
                        <!--  <div class="social-line text-center">
                              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>  -->
                          <form (ngSubmit)="save(f)" #f="ngForm">
                            <div class="form-group">
                              <label>Nom</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>  
                                  <input type="text" id="nom" class="form-control" name="nom" placeholder="Nom" (focus)="focus1=true" (blur)="focus1=false" ngModel>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Prénom</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>
                                  <input type="text" id="prenom" class="form-control" name="prenom" placeholder="Prénom" (focus)="focus1=true" (blur)="focus1=false" ngModel>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Date de naissance</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>
                                  <input type="text" id="date_naissance" class="form-control" name="date_naissance" placeholder="jj-mm-aaaa" (focus)="focus1=true" (blur)="focus1=false" ngModel>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Pseudo</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-circle-10"></i>
                                  </span>
                                </div>

                                  <input type="text" id="pseudo" class="form-control" name="pseudo" placeholder="Pseudo" (focus)="focus=true" (blur)="focus=false" ngModel>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" id="password" class="form-control" name="password"  placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" ngModel>
                              </div>
                            </div>
                              <button class="btn btn-danger btn-block btn-round" type="submit">S'inscrire</button>
                          </form>
                      <!--    <div class="forgot">
                              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                          </div>  -->
                      </div>
                    </div>
                </div>
              <!--  <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                </div>  -->
            </div>
    </div>
</div>
