<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/bien.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Liste des biens</h1>
           <!-- <h3>Start designing your landing page here.</h3> -->
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Parlons du produit</h2>
                <h5 class="description">Chaque bien possède des caractéristiques. Ces dernières se résument dans sa superficie, la ville où il se situe, le nombre de pièce ou encore les commodités qu'il offre.</h5>
                <br>
               <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>

        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div>  <!--class="info"-->
                    <!--<div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div> -->


<ul style = "list-style-type: none;">
    <li *ngFor="let bien of biensList">
       <div class="card" style="width: 400px; margin: 0px auto; background-color: white; box-shadow: 0px 5px 20px #999; color: #333; 
       text-decoration: none;">
       <!-- <a href="#">     -->     

        <!-- Corp de notre carte -->
        <div class="card-body" style="text-align:center;  padding: 15px 20px; box-sizing: border-box; ">
             <div class="icon icon-danger" style="font-size: large;">
                 <i class="nc-icon nc-shop"></i>
            </div>

            <form (ngSubmit)="save(f)" #f="ngForm">
                        <div class="form-group">
                        <h4 class="info-title">Nom du bien: </h4>
                        <input type="text" id="nom" class="form-control" name="nom" placeholder="{{bien.nom}}" [ngModel]=bien.nom>
                        </div>
                        <div class="form-group">
                        <h4 class="info-title">Type du bien : </h4>
                        <input type="text" id="type_bien" class="form-control" name="type_bien" placeholder="{{bien.type_bien}}" [ngModel]=bien.type_bien>
                        </div>

                        <div class="form-group">
                        <h4 class="info-title"> Ville :</h4>
                        <input type="text" id="ville" class="form-control" name="ville" placeholder="{{bien.ville}}" [ngModel]=bien.ville>
                        </div>

                        <div class="form-group">
                        <h4 class="info-title"> Description du bien :  </h4>
                        <input type="text" id="description" class="form-control" name="description" placeholder="{{bien.description}}" [ngModel]=bien.description>
                        </div>

                        <div class="form-group">
                        <h4 class="info-title"> Nombre de pièces : </h4>
                        <input type="text" id="pieces" class="form-control" name="pieces" placeholder="{{bien.pieces}}" [ngModel]=bien.pieces>
                        </div>
                        <div class="form-group">
                        <h4 class="info-title"> Propriétaire : </h4>
                        <input type="text" id="proprietaire" class="form-control" name="proprietaire" placeholder="{{bien.proprietaire}}" [ngModel]=bien.proprietaire>
                        </div>
                        <div class="form-group">
                        <input type="hidden" id="id" class="form-control" name="id" [ngModel]=bien.id>
                        </div>
                    <button class="btn btn-success" type="submit" >Modifier</button>
                    <!--<li routerLinkActive="active">
                       <a [routerLink]="/signup"><p>Products Categories</p></a>
                    </li> -->
                    <button class="btn btn-danger" (click)="supp(f)">Supprimer</button>
            </form>
              <!--  <h2 class="title"> {{bien.nom}} </h2>
                <h4 class="info-title"> Type du bien :</h4><h5 class="description">{{bien.type_bien}}</h5>
                <h4 class="info-title"> Ville :  </h4><h5 class="description"> {{bien.ville}}</h5>
                <h4 class="info-title"> Description du bien :  </h4><h5 class="description"> {{bien.description}}</h5>
                <h4 class="info-title"> Nombre de pièces : </h4><h5 class="description"> {{bien.pieces}}</h5>
                <h4 class="info-title"> Propriétaire : </h4> <h5 class="description"> {{bien.proprietaire}}</h5>
                -->
        </div>
          <!--  </a>  -->

         </div>
            <br>
        <!-- Fin du corp de notre carte -->
    </li>
</ul>





                </div>
            </div>


          <!--  <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Rechercher des biens selon certains critères</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/localisation.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Ville</h4>
                                <h6 class="card-category">Rechercher les biens situés dans une ville</h6> 
                            </div>
                        
                        <form (ngSubmit)="ville(v)" #v="ngForm">
                        <div class="form-group">
                        <h6 class="description">Entrez le nom de la ville : </h6>
                        <input type="text" id="ville" class="form-control" name="ville" placeholder="Ville" ngModel>
                        </div>
                        <button class="btn btn-success" type="submit" >Rechercher</button>
                        </form>
                    <br>
                    <hr>
                    <div class="mr-auto ml-auto" style="color: #FFFFFF;">
                        <ul style = "list-style-type: none;">
                        <li *ngFor="let bi of biensListVille">
                             <h5  align="left"> {{bi.nom}}  </h5>
                        </li>
                        </ul>

                    </div>
                     <!--    <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>  -->
                    </div>
                  <!--  <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>  -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/type.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Type de bien</h4>
                               <h6 class="card-category">Rechercher les biens d'un type particulier</h6>  
                               </div>
                      <form (ngSubmit)="type(t)" #t="ngForm">
                        <div class="form-group">
                        <h6 class="description">Entrez le nom du type de bien : </h6>
                        <input type="text" id="type_bien" class="form-control" name="type_bien" placeholder="Type du bien" ngModel>
                        </div>
                        <button class="btn btn-success" type="submit" >Rechercher</button>
                        </form>
                    <br>
                    <hr>
                    <div class="mr-auto ml-auto" style="color: #FFFFFF;">
                        <ul style = "list-style-type: none;">
                        <li *ngFor="let bi of biensListType">
                             <h5  align="left"> {{bi.nom}}  </h5>
                        </li>
                        </ul>
                            
                        </div>
                      <!--  <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>  -->
                    </div>
                <!--    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>  -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/piece.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        
                            <div class="author">
                                <h4 class="card-title">Nombre de pièces</h4>
                                <h6 class="card-category">Rechercher les biens d'un type particulier</h6>  
                               </div>
                      <form (ngSubmit)="piece(p)" #p="ngForm">
                        <div class="form-group">
                        <h6 class="description">Entrez le nombre de pièces : </h6>
                        <input type="number" id="pieces" class="form-control" name="pieces" placeholder="Nombre de pieces" ngModel>
                        </div>
                        <button class="btn btn-success" type="submit" >Rechercher</button>
                        </form>
                    <br>
                    <hr>
                    <div class="mr-auto ml-auto" style="color: #FFFFFF;">
                        <ul style = "list-style-type: none;">
                        <li *ngFor="let bi of biensListPiece">
                             <h5  align="left"> {{bi.nom}}  </h5>
                        </li>
                        </ul>
                            
                    </div>

                        
                      <!--   <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>  -->
                    </div>
                   <!--  <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Renseigner un nouveau bien</h2>
            <br>
            <br>
            <form (ngSubmit)="ajout(g)" #g="ngForm">
                
                        <div class="form-group">
                        <label>Nom du bien </label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-paper"></i></span>
                                    </div>
                                    <input type="text" id="nom" class="form-control" name="nom" placeholder="Nom" ngModel (focus)="focus=true" (blur)="focus=false" >
                                </div>
                        
                        </div>


                        <div class="form-group">
                        <label>Type du bien : </label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-alert-circle-i"></i></span>
                                </div>
                            <!--<input type="text" id="type_bien" class="form-control" name="type_bien" placeholder="Type du bien" ngModel (focus)="focus=true" (blur)="focus=false" >  -->
                            <select type="text" id="type_bien" class="form-control" name="type_bien" placeholder="Type du bien" ngModel (focus)="focus=true" (blur)="focus=false" >
                            <option value="">-- Choisissez le Type du bien --</option>
                            <option value="appartement">Appartement</option>
                            <option value="studio">Studio</option>
                            <option value="maison">Maison</option>
                            <option value="villa">Villa</option>
                            </select>
                        </div>
                        </div>


                        <div class="form-group">
                        <label> Ville </label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-map-big"></i></span>
                                </div>
                                <input type="text" id="ville" class="form-control" name="ville" placeholder="Ville" ngModel (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        </div>

                        

                        <div class="form-group">
                        <label> Description du bien  </label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-paper"></i></span>
                                </div>
                                <input type="text" id="description" class="form-control" name="description" placeholder="Description du bien" ngModel (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        </div>

                        <div class="form-group">
                        <label> Caractéristiques du bien</label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-settings-gear-65"></i></span>
                                </div>
                                <input type="text" id="caracteristique" class="form-control" name="caracteristique" placeholder="Caractéristiques" ngModel (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        </div>


                        <div class="form-group">
                        <label> Nombre de pièces </label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-paper"></i></span>
                                </div>
                                <input type="text" id="pieces" class="form-control" name="pieces" placeholder="Nombre de pièces" ngModel (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        </div>


                        <div class="form-group">
                        <label> Propriétaire : </label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-circle-10"></i></span>
                                </div>
                                <input type="text" id="proprietaire" class="form-control" name="proprietaire" placeholder="Propriétaire du bien" ngModel (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill" type="submit" >Ajouter le bien</button>
                            </div>
                        </div>

           
            </form>

                </div>
            </div>
        </div>
    </div> 










</div>
