<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/im2.jpg');">
        <div class="filter"></div>
                <div class="motto text-center">
            <h1>Liste des utilisateurs</h1>
            <br />
           
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            
                    <ul style = "list-style-type: none;">
                <div class="owner">
                
                <div class="name">
                    <li *ngFor="let user of usersList">
                
                    <div class="avatar">
                    <img src="./assets/img/faces/agent.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
            <div class="card card card-register" style="width: 400px; margin: 0px auto; box-shadow: 0px 5px 20px #999; color: #333; 
       text-decoration: none;">
            <div class="card-body" style="text-align:center;  padding: 10px 15px; box-sizing: 5px 10px; ">
                <div class="row">
                <div class="col-sm-8 ml-auto mr-auto text-center">
                    <h4 class="title">{{user.pseudo | uppercase}}<br /></h4>
                    <form (ngSubmit)="save(f)" #f="ngForm">
                        <div class="form-group">
                        <h6>Nom : </h6>
                        <input type="text" id="nom" class="form-control" name="nom" placeholder="{{user.nom}}" [ngModel]=user.nom>
                        </div>
                        <div class="form-group">
                        <h6>Prénom : </h6>
                        <input type="text" id="prenom" class="form-control" name="prenom" placeholder="{{user.prenom}}" [ngModel]=user.prenom>
                        </div>
                        <div class="form-group">
                        <h6>Pseudo : </h6>
                        <input type="text" id="pseudo" class="form-control" name="pseudo" placeholder="{{user.pseudo}}" [ngModel]=user.pseudo>
                        </div>
                        <div class="form-group">
                        <input type="hidden" id="id" class="form-control" name="id" [ngModel]=user.id>
                        </div>
                    <button class="btn btn-success" type="submit" >Modifier</button>
                    <!--<li routerLinkActive="active">
                       <a [routerLink]="/signup"><p>Products Categories</p></a>
                    </li> -->
                    <button class="btn btn-danger" (click)="supp(f)">Supprimer</button>
                    </form>
                </div>
                </div>
            </div>
                    </div> 
                       <!--
                        <h4 class="title">{{user.pseudo | uppercase}} {{user.id}}<br /></h4>
                        <h6 class="description">Nom : {{user.nom}} </h6> <input [(ngModel)]="user.nom" placeholder="nom"/>
                          <br>
                          <br>
                        <h6 class="description">Prénom : {{user.prenom}}</h6> <input [(ngModel)]="user.prenom" placeholder="prénom"/>
                        
                        <button (click)="save()">save</button> -->
                    <br />
                    <br />
                    <br />
                    <br />
                    <hr style ="background-color: #000000;">
                    </li>
                   
                       </div>
                 </div>

                    </ul> 
                <!--    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6> -->

            <div class="row" >
                <div class="col-md-6 ml-auto mr-auto text-center" routerLinkActive="active">
                   <!-- <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />  -->
                    <a href="http://localhost:4200/#/signup" class="btn  btn-outline-default btn-round btn-lg"><i class="fa fa-plus"></i>Ajouter un utilisateur</a>
                   <!-- <button class="btn btn-outline-default btn-round"><i class="fa fa-plus"></i> Ajouter un utilisateur </button> -->
                </div>
            </div> 



            <!--
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div> -->
        </div>
    </div>
</div>
